.no-results {
  display: none;
  flex-direction: column;
  margin: 0;
  background-color: #f5f6f7;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.no-results_active {
  display: flex;
}
.no-results__img {
  width: 96px;
  height: 96px;
}
.no-results__title {
  max-width: 288px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  color: #1a1b22;
  margin: 31px 0 16px 0;
}
.no-results__subtitle {
  margin: 0;
  max-width: 288px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #b6bcbf;
}
